{% extends "./blog/base.html" %}
{% block title%} <title>关于我_个人学习生活经历_51kaiyang</title>{% endblock %}
{% block keywords%}
<meta name="keywords" content="关于我,个人学习生活经历,51kaiyang">
{% endblock%}
{% block description%}
<meta name="description" content="关于我的学习生活经历的描述及个人价值观."/>
{% endblock %}
{% block main%}
<div class="row">
    <div id="vmaig-content" class="col-md-10 col-lg-12">
        <div id="me" class="well clearfix">
            <h1>关于我<h1>
               <p><font size="4px" color="blue">程佳林，男，一只90后程序猿！从小学到高中从来没想过会进入IT这个行业。直到那一张大学志愿单摆放在我面前，当我填下计算机专业几个字时，仿佛听到了人生的车轮“轰轰”滚入了一条岔道，从此和计算机结下了一段缘分，再也分不开！</font></p>
               <p><font size="4px" color="blue">
               2013年9月来到威海这个美丽的海滨城市，开始了在哈工大威海四年的求学时光，默契的朋友，可亲的师长，都是我要感激的人！特别感谢我实验室的张兆心老师，给了我一个学习知识的机会和一个锻炼自我的平台！还要感谢实验室的小组成员，我们一起编程，一起吃饭，结下了深厚的友谊！ <a href="http://team.51kaiyang.com" style="color:red">小组网站</a>
                </font></p>
               <p><font size="4px" color="blue">
                思想上来说，一直是老庄的忠实拥趸，喜欢他们逍遥自在无欲无求的人生态度，喜欢他们一个人静静对宇宙自然思考的人生观，特别喜欢苏轼的一句词：一蓑烟雨任平生！这也将是我人生不变的座右铭！
               </font></p>
        </div>
        <div id="blog" class="well clearfix">
            <h1>关于博客<h1><font size="4px" color="blue">
                <p>如果想了解这个blog如何搭建的过程，可以参考我的文章<a href="/article/add_blog.html" style="color:red">部署个人博客（详细过程）。</a></font></p>
        </div>
    </div>
</div>

{% endblock %}
