{% extends "./blog/base.html" %}
{% block title%} <title>关于我_个人学习生活经历</title>{% endblock %}

{% block keywords%}
<meta name="keywords" content="关于我,个人学习生活经历,51kaiyang">
{% endblock%}
{% block description%}
<meta name="description" content="关于我的学习生活经历的描述及个人价值观."/>
{% endblock %}


{% block main%}

<div class="row">
   <div id="vmaig-content" class="col-md-10 col-lg-12">
		<div id="me" class="well clearfix">

            <h1>关于我<h1>
               <p><font size="4px" color="blue">&nbsp&nbsp&nbsp&nbsp;程佳林，男，一只90后程序猿！并非计算机科班出生，属于半路出家。最开始是修电脑，装系统,后来发现很多人能做的事，计算机也能做，甚至的比人做的还好。于是我就在寻思，要是能让机器干的活就全部让机器干，把人从重复的劳动中解放出来，那是有多爽！那么问题来了：如何让机器按照我们的要求来干活呢？答案当然是我们用机器能懂的语言告诉计算机该如何做--“编程”。于是我就开始踏上了编程的不归路。</font></p>
               <p><font size="4px" color="blue">
               &nbsp&nbsp&nbsp&nbsp;2014年9月来到祖国首都--北京，开始了在北京某修飞机技校的求学时光，默契的朋友，可亲的师长，都是我要感激的人！特别感谢我实验室的老师，给了我一个学习知识的机会和一个锻炼自我的平台！还要感谢实验室的小组成员，我们一起学习，一起吃饭，结下了深厚的友谊！
                </font></p>
               <p><font size="4px" color="blue">
                &nbsp&nbsp&nbsp&nbsp;思想上来说，一直是老庄的忠实拥趸，喜欢他们逍遥自在无欲无求的人生态度，喜欢他们一个人静静对宇宙自然思考的人生观，特别喜欢苏轼的一句词：一蓑烟雨任平生！这也将是我人生不变的座右铭！
               </font></p>
        </div>
        <div id="blog" class="well clearfix">
            
			<h1>关于博客<h1>
			<font size="4px" color="blue">
                <p>如果想了解这个blog如何搭建的过程，可以参考我的文章<a href="/article/add_article.html" style="color:red">部署个人博客（详细过程）。</a></font></p>
				<p><font size="4px" color="blue">
				博客是基于Django和Bootstrap3。参考了Vmaig的博客以及源码。感谢Vmaig群主的指导，感谢开源！
				</font></p>
        </div>
		
	
    </div>
</div>


{% endblock %}
