{% extends "./blog/base.html" %}
{% block title%} <title>关于我_个人学习生活经历_51kaiyang</title>{% endblock %}
{% block keywords%}
<meta name="keywords" content="学习资料,java,python">
{% endblock%}
{% block description%}
<meta name="description" content="在学习中收集的java,python方面的资料，分享给大家。"/>
{% endblock %}
{% block main%}
<div class="row">
    <div id="vmaig-content" class="col-md-10 col-lg-12">
        <div id="me" class="well clearfix">
            <h1>Python学习资料分享<h1>
               <p><font size="4px" color="blue">
               <a href="http://yun.baidu.com/share/link?shareid=2653322016&uk=3846224689" style="color:red">python灰帽编程</a>
                </font></p>
               <p><font size="4px" color="blue">
               <a href="http://yun.baidu.com/share/link?shareid=2652722392&uk=3846224689" style="color:red">python教程</a>
                </font></p>
                <p><font size="4px" color="blue">
               <a href="http://yun.baidu.com/share/link?shareid=2652228188&uk=3846224689" style="color:red">零基础入门学习Python</a>
                </font></p>
                <p><font size="4px" color="blue">
               <a href="http://yun.baidu.com/share/link?shareid=2651452318&uk=3846224689" style="color:red">python基础教程(全21集)</a>
                </font></p>
                <p><font size="4px" color="blue">
                <a href="http://pan.baidu.com/s/1dEdYQVB" style="color:red">《Python Cookbook》第三版中文</a>
                </font></p>
                <p><font size="4px" color="blue">
                <a href="http://pan.baidu.com/s/1bnO3RBL" style="color:red">python核心编程中文版（第二版）</a>
                </font></p>
                <p><font size="4px" color="blue">
                <a href="http://pan.baidu.com/s/1c0O1VnM" style="color:red"> Python开发技术详解</a>
                </font></p>
                <p><font size="4px" color="blue">
                <a href="http://pan.baidu.com/s/1pJUQUpl" style="color:red"> Python源码剖析（完整版）</a>
                </font></p>
                <p><font size="4px" color="blue">
                <a href="http://pan.baidu.com/s/1i4sJWn7" style="color:red">Scrapy 中文指南</a>
                </font></p>
                <p><font size="4px" color="blue">
                <a href="http://pan.baidu.com/s/1nu4gLSH" style="color:red">爬虫学习系列教程</a>
                </font></p>
        </div>
        <div id="blog" class="well clearfix">
            <h1>关于博客<h1><font size="4px" color="blue">
                <p>如果想了解这个blog如何搭建的过程，可以参考我的文章<a href="/article/add_article.html" style="color:red">部署个人博客（详细过程）。</a></font></p>
        </div>
    </div>
</div>

{% endblock %}
